<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <add key="UserConnection" value="Data Source= localhost;Initial Catalog= 北斗杯比赛;User ID= sa;Password= 12345678"/>
  </appSettings>
  <connectionStrings>
    <add name="LocalDBString" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDB)\V11.0;AttachDbFilename='D:\项目\北斗杯比赛\geographyTest\geographyTest\数据库\北斗杯比赛.mdf';Integrated Security=True;Connect Timeout=30"/>
  </connectionStrings>
</configuration>